@import 'nib'

@import '_snipets'

html
  width: 100%

.trends
  .row.trend
    width: 50%
    margin-top: 10px

    $colors = #11beed, #F0F, #F50, #20ef1f, #ff94e4, #71F

    for c, num in $colors
      .color{num}
        border-color: c

  .row.buttons
    margin-top: 15px





