doctype 5
html
  head
    title Trends Meter

    each script in (scripts || {})
      link(rel="subresource", href='/' + script)

    each style in (styles || {})
      link(rel='stylesheet', href='/' + style)
  body.cbp-spmenu-push
    #app

    each script in (scripts || {})
      script(src='/' + script)